@charset "UTF-8";
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* htmlの基底フォントサイズを10pxに ===============*/
html {
  font-size: 62.5%;
  /* -> 10px; */
}

/* 主要な色 ======================================*/
/* フォント =====================================*/
/* 主要な幅 ====================================*/
/* レスポンシブル ==========================================*/
/* 文字スタイル ==========================================*/
/* その他クラス ==========================================*/
.scroll-lock {
  overflow: hidden;
}

/* header ===============================================*/
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 7.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1B1310;
  border-bottom: 2px solid white;
}

.header-icon {
  padding-left: 12rem;
  padding-top: 2rem;
  letter-spacing: 0em;
}

@media screen and (max-width: 56em) {
  .header-icon {
    padding-left: 1.5rem;
    padding-top: 2.4rem;
  }
}

.header-icon__text {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0em;
}

.header-nav {
  padding-right: 12rem;
  padding-top: 2.7rem;
}

@media screen and (max-width: 56em) {
  .header-nav {
    padding-right: 1.5rem;
  }
}

.header-nav__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 56em) {
  .header-nav__flex {
    display: none;
  }
}

.header-nav__list {
  padding-left: 5.3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.header-nav__humberger {
  display: none;
}

.header-nav__humberger:hover {
  cursor: pointer;
}

@media screen and (max-width: 56em) {
  .header-nav__humberger {
    display: block;
  }
}

.humberger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1B1310;
  z-index: 90;
  overflow-y: hidden;
}

.humberger-menu__close-button {
  position: absolute;
  top: 3rem;
  right: 1.5rem;
  cursor: pointer;
}

.humberger-menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.humberger-menu__link {
  padding-bottom: 5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.humberger-menu__link:last-child {
  padding-bottom: 0;
}

/* jumbotron ==============================================*/
.jumbotron {
  position: relative;
  width: 100%;
  height: 74rem;
  background-image: url("img/fv-bgi@2x.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 10.3rem;
}

@media screen and (max-width: 56em) {
  .jumbotron {
    height: 59rem;
    background-image: url("img/fv-bgi_sp@2x.jpg");
  }
}

.jumbotron__title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3.5rem 4.2rem 3.4rem;
  border: 2px solid white;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: white;
  white-space: nowrap;
}

@media screen and (max-width: 56em) {
  .jumbotron__title {
    padding: 3rem 4rem;
    font-size: 3rem;
  }
}

/* About ==============================================*/
.about {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 103rem;
  height: auto;
  margin: 0 auto;
  padding: 0 20.5rem 16rem;
}

@media screen and (max-width: 56em) {
  .about {
    padding: 0 1.5rem 15.3rem;
  }
}

.about__title {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #1B1310;
  padding-bottom: 7.2rem;
  text-align: center;
}

.about__sub-title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 4.8rem;
  color: #1B1310;
  padding-bottom: 2.5rem;
}

@media screen and (max-width: 56em) {
  .about__sub-title {
    font-size: 2rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 56em) {
  .about__sub-title {
    padding-bottom: 1.7rem;
  }
}

.about__text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 3rem;
  color: #1B1310;
}

.test {
  color: wheat;
}

.presented {
  position: absolute;
  top: 3rem;
  left: 2rem;
  padding: 2rem;
  text-align: center;
}

.presented__text {
  padding-bottom: 1rem;
  font-size: 1.6rem;
  color: white;
}

.presented__link {
  display: block;
  padding: 1rem;
  border-radius: 20rem;
  background-color: #ECA359;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.presented__link:hover {
  opacity: .8;
}

/* Service ==============================================*/
.service {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 103rem;
  height: auto;
  margin: 0 auto;
  padding: 0 20.5rem 15rem;
}

@media screen and (max-width: 56em) {
  .service {
    padding: 0 1.5rem 15.5rem;
  }
}

.service__title {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #1B1310;
  padding-bottom: 7.5rem;
  text-align: center;
}

@media screen and (max-width: 56em) {
  .service__title {
    padding-bottom: 7rem;
  }
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 56em) {
  .service__item {
    display: block;
  }
}

.service__item--reverse {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 56em) {
  .service__item--reverse {
    display: block;
  }
}

.service-card {
  padding-bottom: 5rem;
}

.service-card:last-child {
  padding-bottom: 0;
}

.service-card__item {
  width: 46.5%;
  padding-top: 1.5rem;
}

@media screen and (max-width: 56em) {
  .service-card__item {
    width: 100%;
    padding-top: 0;
    padding-bottom: 3.5rem;
  }
}

.service-card__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 4.8rem;
  color: #1B1310;
  padding-bottom: 2.5rem;
}

@media screen and (max-width: 56em) {
  .service-card__title {
    font-size: 2rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 56em) {
  .service-card__title {
    padding-bottom: 1.8rem;
  }
}

.service-card__text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 3rem;
  color: #1B1310;
}

.service-card__img {
  width: 46.5%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 56em) {
  .service-card__img {
    width: 100%;
    height: 15rem;
  }
}

/* News ==============================================*/
.news {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 103rem;
  height: auto;
  margin: 0 auto;
  padding: 0 20.5rem 15.8rem;
}

@media screen and (max-width: 56em) {
  .news {
    padding: 0 2.8rem 10.5rem;
  }
}

.news__title {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #1B1310;
  padding-bottom: 7.7rem;
  text-align: center;
}

@media screen and (max-width: 56em) {
  .news__title {
    padding-bottom: 7.1rem;
  }
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__item {
  width: 31%;
}

@media screen and (max-width: 56em) {
  .news__item {
    width: 100%;
    margin-bottom: 5rem;
  }
}

.news-card {
  background-color: white;
  -webkit-box-shadow: 0 0 6px rgba(27, 19, 16, 0.4);
          box-shadow: 0 0 6px rgba(27, 19, 16, 0.4);
}

.news-card__img {
  width: 100%;
}

.news-card__text {
  padding: 2.5rem 3.2rem 2.5rem 3.4rem;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: #1B1310;
}

/* News ==============================================*/
.contacts {
  max-width: 70rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}

@media screen and (max-width: 56em) {
  .contacts {
    padding: 0 1.5rem 5rem;
  }
}

.contacts__title {
  padding-bottom: 6.9rem;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: #1B1310;
  text-align: center;
}

.contacts__label {
  padding-bottom: .3rem;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #1B1310;
}

.contacts__name, .contacts__tel, .contacts__mail {
  width: 100%;
  height: 3rem;
  margin-bottom: 2.2rem;
  outline: 1px solid #141414;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 2rem;
  color: #1B1310;
}

.contacts__text {
  width: 100%;
  height: 17.1rem;
  margin-bottom: 5rem;
  outline: 1px solid #141414;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 2rem;
  color: #1B1310;
}

.contacts__submit {
  display: block;
  width: 23.5rem;
  height: 5.9rem;
  margin: 0 auto;
  background-color: #1B1310;
  border-radius: 3rem;
  font-family: "Avenir", sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* footer ==============================================*/
.footer {
  width: 100%;
  height: 7.9rem;
  background-color: #1B1310;
}

@media screen and (max-width: 56em) {
  .footer {
    height: 6rem;
  }
}

.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  line-height: 7.9rem;
  color: white;
  text-align: center;
}

@media screen and (max-width: 56em) {
  .footer__copyright {
    line-height: 6rem;
  }
}
/*# sourceMappingURL=stylesheet.css.map */